In [59]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [60]:
df = pd.read_csv('catData.csv')

In [61]:
df.head()

    pH  Temperature  Taste  Odour  Fat  Turbidity  Colour   Grade
0  6.6           35      1      0    1          0     254    high
1  6.6           36      0      1    0          1     253    high
2  8.5           70      1      1    1          1     246     low
3  9.5           34      1      1    0          1     255     low
4  6.6           37      0      0    0          0     255  medium

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pH           1059 non-null   float64
 1   Temperature  1059 non-null   int64
 2   Taste        1059 non-null   int64
 3   Odour        1059 non-null   int64
 4   Fat          1059 non-null   int64
 5   Turbidity    1059 non-null   int64
 6   Colour       1059 non-null   int64
 7   Grade        1059 non-null   object
dtypes: float64(1), int64(6), object(1)
memory usage: 66.3+ KB

In [63]:
if df.duplicated().any():
    print("Duplicate rows are present in dataset")
else:
    print("No duplicates in dataset")

Duplicate rows are present in dataset

In [64]:
print("Display duplicate records: \n")
df[df.duplicated()]

Display duplicate records:

       pH  Temperature  Taste  Odour  Fat  Turbidity  Colour   Grade
35    6.8           45      0      1    1          1     255    high
48    9.5           34      1      1    0          1     255     low
50    6.6           37      1      1    1          1     255    high
51    5.5           45      1      0    1          1     250     low
52    4.5           60      0      1    1          1     250     low
...   ...          ...    ...    ...  ...        ...     ...     ...
1054  6.7           45      1      1    0          0     247  medium
1055  6.7           38      1      0    1          0     255    high
1056  3.0           40      1      1    1          1     255     low
1057  6.8           43      1      0    1          0     250    high
1058  8.6           55      0      1    1          1     255     low

[976 rows x 8 columns]

In [65]:
print("Drop duplicates")
df1 = df.drop_duplicates()
print("Dataset after removing duplicates")
df1.shape

Drop duplicates
Dataset after removing duplicates

(83, 8)

In [66]:
print("Checking for missing values in dataset")
df1.isnull().sum()

Checking for missing values in dataset

pH             0
Temperature    0
Taste          0
Odour          0
Fat            0
Turbidity      0
Colour         0
Grade          0
dtype: int64

In [67]:
print("Statistical measures of the numeric columns")
df1.describe()

Statistical measures of the numeric columns

,pH,Temperature,Taste,Odour,Fat,Turbidity,Colour
count,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000,83.000000
mean,6.668675,43.698795,0.493976,0.397590,0.602410,0.433735,251.313253
std,0.986856,9.379187,0.503003,0.492375,0.492375,0.498602,4.577058
min,3.000000,34.000000,0.000000,0.000000,0.000000,0.000000,240.000000
25%,6.500000,38.000000,0.000000,0.000000,0.000000,0.000000,247.000000
50%,6.600000,41.000000,0.000000,0.000000,1.000000,0.000000,255.000000
75%,6.800000,45.000000,1.000000,1.000000,1.000000,1.000000,255.000000
max,9.500000,90.000000,1.000000,1.000000,1.000000,1.000000,255.000000

In [68]:
df1.shape

(83, 8)

In [69]:
df1.columns

Index(['pH', 'Temperature', 'Taste', 'Odour', 'Fat', 'Turbidity', 'Colour',
       'Grade'],
      dtype='object')

In [70]:
# plt.figure(figsize = (12, 6))
# ax = sns.boxplot(x='Grade', y='Colour', data=df)
# plt.setp(ax.artists, alpha=.5, linewidth=2, edgecolor="k")
# plt.xticks(rotation=45)
# plt.title('Grade v/s colour')

In [71]:
# plt.figure(figsize = (12, 6))
# ax = sns.boxplot(x='Grade', y='Turbidity', data=df)
# plt.setp(ax.artists, alpha=.5, linewidth=2, edgecolor="k")
# plt.xticks(rotation=45)
# plt.title('Grade v/s Turbidity')

In [72]:
# sns.pairplot(df,height=5)

In [73]:
from sklearn import preprocessing
def grade_label(x):
    if x=="high":
        return 2
    elif x=="medium":
        return 1
    else:
        return 0

df1['Grade'] = df1['Grade'].apply(lambda x : grade_label(x))

print("Target variable Grade after encoding ")
df1.head()



# label_encoder = preprocessing.LabelEncoder()
# df['Grade']= label_encoder.fit_transform(df['Grade'])
# df['Grade'].unique()

Target variable Grade after encoding

    pH  Temperature  Taste  Odour  Fat  Turbidity  Colour  Grade
0  6.6           35      1      0    1          0     254      2
1  6.6           36      0      1    0          1     253      2
2  8.5           70      1      1    1          1     246      0
3  9.5           34      1      1    0          1     255      0
4  6.6           37      0      0    0          0     255      1

In [74]:
X = df1[['pH','Temperature','Taste','Odour','Fat','Turbidity','Colour']]
y = df1[['Grade']]

df.head()

    pH  Temperature  Taste  Odour  Fat  Turbidity  Colour   Grade
0  6.6           35      1      0    1          0     254    high
1  6.6           36      0      1    0          1     253    high
2  8.5           70      1      1    1          1     246     low
3  9.5           34      1      1    0          1     255     low
4  6.6           37      0      0    0          0     255  medium

In [75]:
from sklearn.preprocessing import StandardScaler
PredictorScaler=StandardScaler()
PredictorScalerFit=PredictorScaler.fit(X)
X=PredictorScalerFit.transform(X)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(58, 7)
(58, 1)
(25, 7)
(25, 1)

In [76]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(X_train, y_train)
gnb_predictions = gnb.predict(X_test)

In [77]:
accuracy = gnb.score(X_test, y_test)
from sklearn.metrics import classification_report
# print(accuracy)
print(classification_report(y_test, gnb_predictions))

              precision    recall  f1-score   support

           0       0.70      0.70      0.70        10
           1       0.80      0.67      0.73        12
           2       0.60      1.00      0.75         3

    accuracy                           0.72        25
   macro avg       0.70      0.79      0.73        25
weighted avg       0.74      0.72      0.72        25

In [78]:
pH = float(input("Input pH: "))
temp = float(input("Input the temperature: "))
taste = float(input("Input taste: "))
odor = float(input("Input odor: "))
fat = float(input("Input fat: "))
turb = float(input("Input turbidity: "))
color = float(input("Input colour: "))

Input pH:  6.5
Input the temperature:  55
Input taste:  1
Input odor:  0
Input fat:  1
Input turbidity:  0
Input colour:  246

In [79]:
input_data = [pH, temp, taste, odor, fat, turb, color]
prediction = gnb.predict([input_data])
if prediction[0] == 2:
    print("Milk is Pure")
elif prediction[0] == 1:
    print("Milk is Average")
else:
    print("Milk is Bad")

Milk is Average