In [ ]:
#SVM METHOD TO CLASSIFY THE MILK SAMPLES

In [17]:
import pandas as pd
from sklearn import svm, datasets
import numpy as np  
import warnings 
import matplotlib.pyplot as plt

In [18]:
dataframe = pd.read_csv("catData.csv")
dataframe.head()

    pH  Temperature  Taste  Odour  Fat  Turbidity  Colour   Grade
0  6.6           35      1      0    1          0     254    high
1  6.6           36      0      1    0          1     253    high
2  8.5           70      1      1    1          1     246     low
3  9.5           34      1      1    0          1     255     low
4  6.6           37      0      0    0          0     255  medium

In [19]:
print(dataframe.columns)

Index(['pH', 'Temperature', 'Taste', 'Odour', 'Fat', 'Turbidity', 'Colour',
       'Grade'],
      dtype='object')

In [20]:
print("duplicate rows :")
dataframe[dataframe.duplicated()]

print("remove duplicates :")
dataframe1 = dataframe.drop_duplicates()
dataframe1.shape

duplicate rows :
remove duplicates :

(83, 8)

In [21]:
print("x-feature and y-features")
x = dataframe1[['pH','Temperature','Taste','Odour','Fat' ,'Turbidity','Colour']]
y = dataframe1['Grade']

import sklearn.model_selection as model_selection
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, train_size=0.90, test_size=0.10, random_state=101)
print("training set : ",x_train.shape)
print("testing set : ",x_test.shape)

x-feature and y-features
training set :  (74, 7)
testing set :  (9, 7)

In [22]:
x_test

      pH  Temperature  Taste  Odour  Fat  Turbidity  Colour
26   8.5           70      0      0    0          0     246
59   6.8           45      0      0    1          0     255
33   6.7           41      1      0    0          0     247
16   4.7           38      1      0    1          0     255
22   4.5           38      0      1    1          1     255
861  6.6           40      1      0    0          0     255
21   6.5           36      0      0    1          0     255
46   6.6           38      0      0    0          0     255
25   6.5           36      0      1    1          0     253

In [23]:
C=1.0
rbf = svm.SVC(kernel='rbf', gamma=0.5, C=0.1).fit(x_train, y_train)
rbf_pred = rbf.predict(x_test)

In [24]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
rbf_accuracy = accuracy_score(y_test, rbf_pred)
rbf_f1 = f1_score(y_test, rbf_pred, average='weighted')
print('Accuracy (RBF Kernel): ', "%.2f" % (rbf_accuracy*100))
print('F1 (RBF Kernel): ', "%.2f" % (rbf_f1*100))

Accuracy (RBF Kernel):  55.56
F1 (RBF Kernel):  39.68

In [29]:
def grade_label(x):
    if x=="high":
        return 2
    elif x=="medium":
        return 1
    else:
        return 0

dataframe1['Grade'] = dataframe1['Grade'].apply(lambda x : grade_label(x))

print("Target variable Grade after encoding ")
dataframe1.head()

Target variable Grade after encoding

C:\Users\KIIT\AppData\Local\Temp\ipykernel_11592\2692267741.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe1['Grade'] = dataframe1['Grade'].apply(lambda x : grade_label(x))

    pH  Temperature  Taste  Odour  Fat  Turbidity  Colour  Grade
0  6.6           35      1      0    1          0     254      2
1  6.6           36      0      1    0          1     253      2
2  8.5           70      1      1    1          1     246      0
3  9.5           34      1      1    0          1     255      0
4  6.6           37      0      0    0          0     255      1

In [36]:
pH = float(input("Input pH: "))
temp = float(input("Input the temperature: "))
taste = float(input("Input taste: "))
odor = float(input("Input odor: "))
fat = float(input("Input fat: "))
turb = float(input("Input turbidity: "))
color = float(input("Input colour: "))

Input pH: 6.5
Input the temperature: 55
Input taste: 1
Input odor: 0
Input fat: 1
Input turbidity: 0
Input colour: 246

In [37]:
from sklearn import svm, datasets
input_data = [pH, temp, taste, odor, fat, turb, color]
prediction = rbf.predict([input_data])
if prediction[0] == 2:
    print("Milk is Pure")
elif prediction[0] == 1:
    print("Milk is Average")
else:
    print("Milk is Bad")

Milk is Bad

C:\Users\KIIT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(